[submodule "funkin/libs/imgui"]
	path = funkin/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "funkin/libs/json"]
	path = funkin/libs/json
	url = https://github.com/nlohmann/json
[submodule "funkin/libs/bgfx"]
	path = funkin/libs/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake.git
