[submodule "funkin/libs/imgui"]
	path = funkin/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "funkin/libs/json"]
	path = funkin/libs/json
	url = https://github.com/nlohmann/json
[submodule "funkin/libs/bx"]
	path = funkin/libs/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "funkin/libs/bimg"]
	path = funkin/libs/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "funkin/libs/bgfx"]
	path = funkin/libs/bgfx
	url = https://github.com/bkaradzic/bgfx.git
