[submodule "funkin/libs/imgui"]
	path = funkin/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "funkin/libs/json"]
	path = funkin/libs/json
	url = https://github.com/nlohmann/json
[submodule "funkin/libs/clay"]
	path = funkin/libs/clay
	url = https://github.com/nicbarker/clay.git
[submodule "funkin/libs/diligent"]
	path = funkin/libs/diligent
	url = https://github.com/DiligentGraphics/DiligentEngine.git
